.center{
  text-align: center;
}

.innerBox{
  margin: 10px;
  padding: 10px;
  color: @inverseText;
}

.colorButton{
  padding: 10px;
  color: @inverseText;
  margin: 5px;
}

.content{
  height: 100%;
}

.hex{
  float: left;
  color: #fff;
  height: 100%;
}

.hex-container{
  height: 100%;
  padding: 0;
}

.form-holder{
  position: absolute;
  width: 100%;
  padding: auto;
  bottom: 0;
  margin-bottom: 200px;
}

.form-box{
  width: 500px;
  margin: auto;
  padding-bottom: 10px;
}
