.center{
  text-align: center;
}

.innerBox{
  margin: 10px;
  padding: 10px;
  color: @inverseText;
}

.colorButton{
  padding: 10px;
  color: @inverseText;
  margin: 5px;
}

.content{
  height: 100%;
}

.hex{
  display: inline-block;
  color: #fff;
  height: 100%;
  padding: 10px;
}

.hex:hover{
  // -moz-box-shadow:    inset 0 0 10px #777;
  // -webkit-box-shadow: inset 0 0 10px #777;
  // box-shadow:         inset 0 0 10px #777;

  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;

  -webkit-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
  box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);


}

.hex:hover > .hex-num{

  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;

  background-color: rgba(255,255,255,0.4);
  color: #777;

}

.hex-container{
  height: 100%;
  padding: 0;
}

.hex-num{
  // background-color: rgba(255,255,255,0.4);
  height: 30px;
  width: 150px;
  margin: 0 auto;
}

.form-holder{
  // height: 100%;
  position: absolute;
  width: 100%;
  bottom: 100px;
  // margin:0 auto;
  vertical-align: center;
}

.form-panel{
  margin: 0 auto;
  background-color: #fff;
  width: 540px;
  padding: 20px;
  height: 100%;
  box-shadow: 5px 5px 20px #888;
}

.form-box{
  width: 500px;
  margin: 0 auto;
  // padding-bottom: 10px;
  vertical-align: center;

}
